body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color:#333;
	text-decoration: none;
	
}
#main-wrapper {
}
#header-wrapper {
	border-top: 5px solid #333;
	background-color: #f5f5f5;
}
#logo {
	width:1000px;
	height: 70px;
	margin:0px auto;
}
#course-name {
	display: inline;
	line-height: 60px;
}

#logo img {
	height: 60px;
}

#content-wrapper {
	width:1000px;

	margin:0px auto;
	margin-top: 40px;
	position: relative;
	background-color: #fff;
	display:table;

}
#nav-wrapper {
	background-color: #333;
}
#navbar {
	width: 1000px;
	height: 40px;
	padding: 0px;
	border: 0px;
	margin: 0 auto;
	overflow: hidden;
}
#navbar>li {
	float:left;
	list-style: none;
	
}
#navbar a {
	text-decoration: none;
}
#navbar>li>a {
	padding: 10px 18px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 17px;
	letter-spacing: 2px;
}
#navbar>li:hover {
	background-color: #ee4a45;
	color: #fff;
	text-decoration: none;
}
#navbar>li>ul {
	display: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	z-index: 9999;
	-moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
}
#navbar>li:hover>ul {
	display: block;
}
#navbar>li>ul>li {
	list-style: none;
	border-bottom: 1px solid #ddd;
}
#navbar>li>ul>li>a {
	padding: 10px 18px;
	height: 40px;
	line-height: 40px;
	color: #333;
	
	font-size: 17px;
	letter-spacing: 2px;
}
#navbar>li>ul>li:hover {
	text-decoration: none;
	color: #ee4a45;
	background-color: #f5f5f5;
}
.left-col {
	float: left;
}
.large-col {
	width: 680px;
}
.small-col {
	width:250px;
}
.left-col.small-col {
	position: absolute;

}
.left-col .box {
	border-top: 4px solid #75a8d3;
	padding: 20px 0;
	margin-bottom: 20px;
}
.left-col .box .title{
	color:#069;
	font-size: 18px;
}
ul#teachers {
	padding: 0px;
}
ul#teachers li {
	list-style-type: none;
	height: 110px;
	margin-bottom: 10px;
	border-bottom: 1px solid #caccce;
}
ul#teachers li img {
	max-width: 100px;
	max-height: 100px;
	float: left;
	margin-right: 15px;
}
ul#teachers li .intro {
	padding-top: 10px;
}
ul#teachers li .intro .name{
	font-size: 16px;
	line-height: 55px;
	height: 55px;
}
ul#teachers li .intro a:hover {
	text-decoration: none;
}
ul#teachers li .intro .job {
	color: #333;
}

.right-col.small-col {
	width: 250px;
	margin-left: 50px;
	float: left;

}
.right-col.large-col {
	width:750px;
	margin-left: 250px;
}
.right-col .box {
	border: 1px solid #f5f5f5;
	margin-bottom: 20px;
}
.right-col .box .title {
	background-color: #f5f5f5;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}
.right-col ul {
	padding: 10px;
}
.right-col a {
	color:#333;
	text-decoration: none;
}
.small-col .box {
	-webkit-box-shadow: 0 10px 30px -4px #999;
	-moz-box-shadow: 0 10px 30px -4px #999;
	box-shadow: 0 10px 30px -4px #999;
}
.list {
	list-style-type: none;
	line-height: 30px;

}
.list .prev-num {
	padding: 0 5px 0 0;
	margin: 0 5px 0 0;
	color: #ee4a45;
}
.list a {
	text-decoration: none;
}
.right-col a:hover {
	color:#ee4a45;
}
#foot-wrapper {
	background-color: #222;
}
.copyright {
	width:1000px;
	height:50px;
	line-height: 50px;
	color:#fff;
	margin: 0px auto;
}

#category {
	background-color: #eee;
}
#entry {
	padding: 5px 50px;

	border: 1px solid #eee;
	border-bottom-color:#ccc;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 10px 30px -4px #999;
	-moz-box-shadow: 0 10px 30px -4px #999;
	box-shadow: 0 10px 30px -4px #999;
}
#entry #title {
	text-align: center;
}
#entry #details {
	text-align: center;
}
#entry #content {
	min-height: 500px;
	margin-top: 20px;
}
#entry #end {
	text-align: center;
}
#entry #end .pattern-left {
	font-size: 16px;
	display: inline-block;
	margin-bottom: .3125em;
	width: 1.375em;
	height: .4375em;
	vertical-align: middle;
	background-position: 0;
	background: rgba(0,0,0,0) url('https://img0.douban.com/ark/pics/reader/icon-patterns-v2.svg?v=3913832618') no-repeat;
}
#entry-list {
	min-height: 900px;
	padding: 20px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 10px 30px -4px #999;
	-moz-box-shadow: 0 10px 30px -4px #999;
	box-shadow: 0 10px 30px -4px #999;
}
