{% extends "base.html" %}
{% block body %}
<div class="left-col large-col">
	<div id="entry-list">
		<table class="table">
		    {% set cnt=1 %}
			{% for post in posts %}
			<tr>
				<td><a href="post?id={{ post["entry_id"] }}">{{ cnt }}.{{ escape(post["title"]) }}</a></td>
				<td>{{ post["post_time"].strftime("%Y年%m月%d日") }}</td>
				<td>{{ escape(post["name"])}}</td>
			</tr>
			{% set cnt=cnt+1 %}
			{% end %}
		</table>
	</div>
</div>

<div class="right-col small-col">
	<div class="box">
		<div class="title">本类热门文章</div>
		<ul >
		{% for item in hot_posts %}
			<li class="list">
				<span class="prev-num">{{ item["post_time"].strftime("%m-%d") }}</span>
				<a href="post?id={{ item["entry_id"] }}">{{ escape(item["title"]) }}</a>
			</li>
		{% end %}
		</ul>
	</div>
</div>
{% end %}