{% extends "base.html" %}
{% block body %}

<div class="left-col large-col">
	<div id="entry">
		<div id="title"><h3>{{post["title"]}}</h3></div>
		<div id="details">{{post["post_time"].strftime("%Y年%m月%d日")}} {{escape(author)}}</div>
		<div id="content">
			{% raw post["content"] %}
		</div>
		<div id="end">
			<span class="pattern-left"></span><span class="title">E.O.T</span><span class="pattern-right"></span>
		</div>
	</div>
</div><!-- end-->

<div class="right-col small-col">
	<div class="box">
		<div class="title">本类热门文章</div>
		<ul >
		{% for item in hot_posts %}
			<li class="list">
				<span class="prev-num">{{ item["post_time"].strftime("%m-%d") }}</span>
				<a href="post?id={{ item["entry_id"] }}">{{ escape(item["title"]) }}</a>
			</li>
		{% end %}
		</ul>
	</div>
</div>
{% end %}